<!-- footer -->
<section>
    <footer class="footer">
        <div class="container-fluid">
            <!-- padding top right bottom left  -->
            <div class="row" style="padding: 5vh 7vh; margin-bottom: 0;">
                <div class="col-sm-12 col-md-6 about">
                    <h3 style="text-align: left;"><b>About Us</b></h3>
                    <p class="mt-3" style="text-align: justify; "> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae sollicitudin sed dolor netus commodo platea turpis. Lacinia cursus sit vitae malesuada venenatis. Nunc eu massa leo tincidunt. <span id="dots">...</span>
                        <span id="more">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae sollicitudin sed dolor netus commodo platea turpis. Lacinia cursus sit vitae malesuada venenatis. Nunc eu massa leo tincidunt.</span>
                        <button id="seeMore" onclick="seeMoreFunction()"
                            style=" background:transparent ; cursor:pointer; border: none; font-weight: bold; color: #002B58;">See
                            More</button>
                    </p>
                </div>

                <div class="col-sm-12 col-md-6 contact">
                    <h3 style="margin-left: 0;"><b>Contact Us</b></h3>
                    <ul style="text-align: right; list-style: none; padding-left: 0;" class="footer-link">
                        <li style="margin-bottom:1.5vh;">
                            <h5>Tutor Pvt. Ltd.</h5>
                        </li>
                        <li style="margin-bottom:1.5vh; margin-left:0;"><span
                                class="fas fa-map-marker-alt fa-sm mx-3"></span>Kathmandu, Nepal</li>
                        <li style="margin-bottom:1.5vh; margin-left:0;"><span class="fas fa-phone fa-sm mx-3"></span>+(977)
                            9841000000</li>
                        <li style="margin-bottom:1.5vh; margin-left:0;"><span class="fas fa-envelope fa-sm mx-3"></span>
                            tutor@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
        <div style="background: #FFC100; margin: 0; padding:0; ">
            <p style="font-size: 2.5vh; line-height: 5vh; margin:0;"><span> @copyright | </span><span
                    class="far fa-copyright"></span> 2021 All rights reserved.</p>
        </div>

    </footer>
</section>

  <!-- footer -->
